{
    "cellsize" : 0.0000006060171,
    "npixels" : 1728,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "/scratch/sunwang/ri_split_datasets/cyg_a_allconfig_calib_low.ms",
    "highres-dataset" : "/scratch/sunwang/ri_split_datasets/cyg_a_allconfig_calib_high.ms",
    "full-dataset" : "/scratch/sunwang/ri_split_datasets/cyg_a/cygnus_a_allconfig_calib.ms",
    "channel_start" : 0,
    "channel_end" : 63,
    "data_descriptors" : [0, 1, 2],
    "sep_center" : 40,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 0.03,
    "init_lambda_low" : 0.07,
    "init_lambda_high" : 0.07,
    "lambda_mul_full" : 2,
    "lambda_mul_low" : 2,
    "lambda_mul_high" : 2,

    "output_dir" : "/scratch/sunwang/ri_split_results/cyga/cyga"
}