{
    "cellsize" : 0.000000024240684,
    "npixels" : 1500,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "~/hltau/HLTau_Band6_CalibratedData/HLTau_B6cont.calib_low.ms",
    "highres-dataset" : "~/hltau/HLTau_Band6_CalibratedData/HLTau_B6cont.calib_high.ms",
    "full-dataset" : "~/hltau/HLTau_Band6_CalibratedData/HLTau_B6cont.calib.ms",
    "channel_start" : 0,
    "channel_end" : 3,
    "data_descriptors" : [0, 1, 2, 3],
    "sep_center" : 60,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 0.03,
    "init_lambda_low" : 0.2,
    "init_lambda_high" : 0.2,
    "lambda_mul_full" : 2,
    "lambda_mul_low" : 6,
    "lambda_mul_high" : 6,

    "output_dir" : "test_results/HLTau_B6/HLTau_B6"
}