{
    "cellsize" : 0.00001849451,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "/scratch/sunwang/ri_split_datasets/SGRA_low.ms",
    "highres-dataset" : "/scratch/sunwang/ri_split_datasets/SGRA_high.ms",
    "full-dataset" : "/scratch/sunwang/ri_split_datasets/SGRA_serial.ms",
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptors" : [0],
    "sep_center" : 30,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 0.015,
    "init_lambda_low" : 0.05,
    "init_lambda_high" : 0.05,
    "lambda_mul_full" : 2,
    "lambda_mul_low" : 2,
    "lambda_mul_high" : 2,

    "output_dir" : "/scratch/sunwang/ri_results/SGRA/SGRA"
}