{
    "cellsize" : 0.0000008755170341876385,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "~/radio-imaging/data6/SGRB_low.ms",
    "highres-dataset" : "~/radio-imaging/data6/SGRB_high.ms",
    "full-dataset" : "~/radio-imaging/data6/SGRB_serial.ms",
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptors" : [0],
    "sep_center" : 20,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 100,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 0.015,
    "init_lambda_low" : 0.015,
    "init_lambda_high" : 0.015,
    "lambda_mul_full" : 2,
    "lambda_mul_low" : 2,
    "lambda_mul_high" : 2,

    "output_dir" : "test_results/SGRB/SGRB"
}