{
    "cellsize" : 0.000000024240684,
    "npixels" : 1500,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/HLTau_B6cont.calib_low.ms",
    "highres-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/HLTau_B6cont.calib_high.ms",
    "full-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/HLTau_B6cont.calib.ms",
    "channel_start" : 0,
    "channel_end" : 3,
    "data_descriptors" : [0, 1, 2, 3],
    "sep_center" : 60,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 50,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 2.0,
    "init_lambda_low" : 2.5,
    "init_lambda_high" : 2.5,
    "lambda_mul_full" : 1.5,
    "lambda_mul_low" : 4,
    "lambda_mul_high" : 4,
    "msclean_iter" : 2000,
    "clean_scales" : [0, 1, 2, 4, 6, 10, 30],
    "clean_thresh" : 1e-4,

    "output_dir" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_results/HLTau_B6/HLTau_B6"
}
