{
    "cellsize" : 0.0000008755170341876385,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "datasets" : ["/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID3.ms", "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID10.ms",
    "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID35.ms", "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID70.ms", 
    "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID70plus.ms"],
    "full-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_datasets/SGRB_MID_serial.ms",
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptors" : [0],
    "ells" : [3, 10, 35, 70],
    "delta" : 1,

    "nmajcycl1" : 5,
    "nfistaiter" : 50,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "init_lambda_full" : 0.01,
    "init_lambdas" : [0.01, 0.01, 0.01, 0.01, 0.01],
    "lambda_mul_full" : 2,
    "lambda_muls" : [2, 2, 2, 2, 2],
    "lambda_growth_steepness" : 10,
    "deconv_partitions" : [0, 1, 1, 1, 1],

    "nmajcycmsc" : 10,
    "msclean_iter" : 2000,
    "first_mc_clean_scales" : [
        [80],
        [80],
        [10, 30],
        [2, 4, 6, 10],
        [0, 1, 2, 4, 6]
        ],
    "fullres_clean_scales" : [0, 1, 2, 4, 6, 10, 30],
    "clean_thresh" : 1e-4,
    "clean_fracthresh" : 1e-3,
    "clean_gain" : 0.1,

    "output_dir" : "/lustre/fswork/projects/rech/klu/ulc65eb/multi_partition_results/SGRB"
}
