{
    "cellsize" : 0.0000020815303069902844,
    "npixels" : 512,
    "weighting" : "uniform",
    "robustness" : 0,

    "lowres-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/SGRC_low.ms",
    "highres-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/SGRC_high.ms",
    "full-dataset" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_split_datasets/SGRC_serial.ms",
    "channel_start" : 0,
    "channel_end" : 0,
    "data_descriptors" : [0],
    "sep_center" : 25,
    "sep_hw" : 1,

    "nmajcyc" : 5,
    "nfistaiter" : 50,
    "wavelet_dict" : "daubechies",
    "visvar_window" : 5,
    "reconvar_factor" : 1000,
    "init_lambda_full" : 0.015,
    "init_lambda_low" : 0.04,
    "init_lambda_high" : 0.04,
    "lambda_mul_full" : 2,
    "lambda_mul_low" : 3,
    "lambda_mul_high" : 3,
    "msclean_iter" : 2000,
    "clean_scales" : [0, 1, 2, 4, 6, 10, 30],
    "clean_thresh" : 1e-4,

    "output_dir" : "/lustre/fswork/projects/rech/klu/ulc65eb/ri_results/SGRC/SGRC"
}
