--index-url https://artefact.skao.int/repository/pypi-internal/simple
--extra-index-url https://pypi.org/simple

#aoflagger # Not available on Windows/Mac (comment out before RASCIL installation)
astropy
bdsf
dask[diagnostics]
dask-memusage
#dp3  # Not available on Windows/Mac (comment out before RASCIL installation)
distributed
graphviz
h5py
jupyter
matplotlib
numpy
pandas
python-casacore
#radler  # Not available on Windows/Mac (comment out before RASCIL installation)
reproject
scipy
seqfile
ska-sdp-datamodels
ska-sdp-func-python
tabulate
xarray
git+https://gitlab.com/ska-telescope/sdp/ska-sdp-func.git@main

# TODO: remove once we can start using m2r2 >= 0.3.3 (rascil doesn't need mistune as direct req)
#   in order to get the mistune version m2r2 0.3.2 uses, we also need to pin nbconvert;
#   we need to use m2r2 0.3.2 because that supports docutils 0.16.
#   all this will be solved as soon as sphinx_rtd_theme releases support for docutils > 0.17
#   remove both once package version collisions are solved
mistune == 0.8.4
nbconvert < 7.0.0